<div class="container-fluid p-0">
    <div class="di-fixed">
        <app-header></app-header>
    </div>
    <div class="banner">
        <div class="row m-0">
            <div class="col-lg-6 col-12">
                <img src="assets/images/heybike-xwIRt-u30tw-unsplash-transformed.png" alt="" class="img-fluid">
            </div>
            <div class="col-lg-6 col-12 banner-text">
                <p class="main-text-b">
                    Best Eco-system bike
                </p>
                <p class="main-desc">
                    High capacity battery with real-time
                </p>
                <button type="button" class="btn btn-exp">Explore Now</button>
            </div>
        </div>
    </div>
    <div class="detail-section">
        <div class="row">
            <div class="col-lg-4 col-12 mt-1">
                <div class="card">
                    <img class="card-img-top img-fluid" src="assets/images/prod-img.png" alt="Card image cap">
                    <div class="card-body">
                        <h5 class="card-title">Fun & Easy</h5>
                        <p class="card-text">For the big adventures or for the last few hundred metres.</p>
                    </div>
                </div>
            </div>
            <div class="col-lg-4 col-12 mt-1">
                <div class="card">
                    <img class="card-img-top img-fluid" src="assets/images/prod-img.png" alt="Card image cap">
                    <div class="card-body">
                        <h5 class="card-title">Freedom to Move
                        </h5>
                        <p class="card-text">Ebike lets you move freely around urban environments.
                        </p>
                    </div>
                </div>
            </div>
            <div class="col-lg-4 col-12 mt-1">
                <div class="card">
                    <img class="card-img-top img-fluid" src="assets/images/prod-img.png" alt="Card image cap">
                    <div class="card-body">
                        <h5 class="card-title">Eco-Friendly Transportation
                        </h5>
                        <p class="card-text">E-bikes offer a green alternative to cars and motorcycles</p>
                    </div>
                </div>
            </div>

        </div>
    </div>
    <div class="prod-details-section mt-4">
        <p class="heading-text">
            Feature Products
        </p>
        <div class="row">
            <div class="col-sm-6 mt-2">
                <div class="card">
                    <div class="row">
                        <div class="col-lg-6 order-lg-1 order-2">
                            <div class="card-body">
                                <h5 class="card-title">E-bike-1</h5>
                                <p class="card-text">The powerful 250W motor provides assistance up to 20 mph, making it ideal for navigating city traffic.</p>
                                <button class="btn btn-cmn mt-auto">Buy now</button>
                            </div>
                        </div>
                        <div class="col-lg-6 order-lg-2 order-1">
                            <img src="assets/images/prod-image-1.jpg" alt="" class="img-fluid">
                        </div>
                    </div>

                </div>
            </div>
            <div class="col-sm-6 mt-2">
                <div class="card">
                    <div class="row">
                        <div class="col-lg-6 order-lg-1 order-2">
                            <div class="card-body">
                                <h5 class="card-title">E-bike-2</h5>
                                <p class="card-text">With supporting text below as a natural lead-in to additional
                                    content.</p>
                                <button class="btn btn-cmn mt-auto">Buy now</button>
                            </div>
                        </div>
                        <div class="col-lg-6 order-lg-2 order-1">
                            <img src="assets/images/prod-image-1.jpg" alt="" class="img-fluid">
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </div>
    <div class="footer-section mt-4">
        <div class="row">
            <div class="col-lg-6 col-12 about-us-section mt-4">
                <p class="heading-text">About Us</p>
                <p>At E-Bikes.co, we are passionate about redefining urban mobility. Founded with a vision to create a greener and more sustainable future, we specialize in designing innovative, high-performance electric bikes that offer an eco-friendly alternative to traditional transportation.
                    Our e-bikes combine cutting-edge technology, sleek design, and superior comfort, making it easier for people to commute, explore, and enjoy the outdoors without leaving a carbon footprint. Whether you're riding through city streets or tackling rugged trails, our e-bikes provide an effortless and enjoyable experience.</p>
            </div>
            <div class="col-lg-4 col-12 footer-icon">
                    <div >
                        <i class="fa fa-lg fa-map-marker mr-2"></i><span>sector 62, Noida</span>
                    </div>
                    <div >
                        <i class="fa fa-lg fa-phone mr-2"></i><span>+9100000000</span>
                    </div>
                    <div >
                        <i class="fa fa-lg fa-envelope mr-2"></i><span>ebike.co.com</span>
                    </div>
            </div>
        
            <div class="col-lg-2 col-12 logo-div">
                <p class="heading-text mb-0">e.Bikes.co</p>
                <p class="">Copyright © 2024. FLEXIFIT PRIVATE LIMITED.</p>
            </div>
            <div class="col-lg-12 col-12 icons">
                    <a href="#"> <i class="fab fa-facebook social-icon"></i></a>
                    <a href=""><i class="fab fa-instagram social-icon"></i></a>
                    <a href="#"><i class="fab fa-linkedin"></i></a>
                    <a href="#"><i class="fab fa-google-plus"></i></a>
            </div>
        </div>

    </div>
</div>